.dropdown {
  display: block;

  .content {
    margin: 12px;

    &_title {
      margin-bottom: 12px;
    }

    &_actions {
      display: flex;
      gap: 12px;
      justify-content: center;
    }
  }
}

.mobileDropdown {
  position: fixed;
  top: 20px;
  right: 20px;

  .mobileClose {
    width: 32px;
    height: 32px;

    svg {
      stroke: #222222;
      width: 32px;
      height: 32px;
    }
  }
}