button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.primary {
  background-color: var(--primary-color);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--secondary-color);
      transition: background-color .15s linear;
    }
  }
}

.secondary {
  background-color: inherit;
  border-color: var(--primary-color);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #faf5d9;
    }
  }
}

.disabled,
.loading {
  pointer-events: none;
  background-color: #e7e7e7;
  color: #b9b7b7
}