.container {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 1.125rem;
    font-weight: 500;

    &__right {
      color: #71E079;
    }

    &__wrong {
      color: #EE686F;
      margin-bottom: 20px;
    }
  }

  .userAnswer,
  .explanation,
  .rightAnswer {
    text-align: start;
    margin-bottom: 20px;
  }
}