.container {
  display: flex;
  flex-direction: column;
  width: clamp(300px, 80%, 450px);

  .label {
    font-size: var(--font-size-m);
    font-weight: 500;

    &__right {
      color: var(--success-color)
    }

    &__wrong {
      color: var(--error-color);
      margin-bottom: 20px;
    }
  }

  .userAnswer,
  .explanation,
  .rightAnswer {
    text-align: start;
    margin-bottom: 20px;
  }
}