.container {
  margin: 20px 30px;

  .block {
    margin-bottom: 20px;
  }

  .preview {
    &_label {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    &_description {
      font-size: 1.125rem;
      font-weight: 300;
    }
  }


  .buttonGroup {
    &_button {
      width: 170px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
