.container {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;

  .block {
    margin-bottom: 20px;
  }

  .preview {
    &_label {
      font-size: clamp(2rem, 6vw, 3rem);
      font-weight: 500;
      margin-bottom: 20px;
    }

    &_description {
      font-size: 1.125rem;
      font-weight: 300;
    }
  }


  .buttonGroup {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    &_button {
      margin-bottom: 12px;
      flex: 1 1 170px;
    }
  }

  .questionLabel {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
