.container {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;

  .block {
    margin-bottom: 20px;
  }

  .preview {
    &_label {
      font-size: clamp(var(--font-size-2xl), 6vw, var(--font-size-3xl));
      font-weight: 500;
      margin-bottom: 20px;
    }

    &_description {
      font-size: var(--font-size-m);
      font-weight: 300;
    }
  }


  .buttonGroup {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

    &_button {
      flex: 1 1 170px;
    }
  }

  .questionLabel {
    font-size: var(--font-size-l);
    font-weight: 500;
    margin-bottom: 20px;
  }
}
