.question {
  margin: 12px;
  padding: 12px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 40px 1fr min-content;
  border-radius: 12px;
  gap: 12px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgb(0, 0, 0, 0.1), 0 4px 12px 0 rgb(0, 0, 0, 0.1);
  }

  &_visible {
    align-self: center;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    &_text {
      text-align: start;
      font-size: var(--font-size-l);
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .description {
      display: flex;
      font-weight: 500;

      &_item {
        margin-right: 8px;
      }
    }
  }

  .dropdown {
    [class*='trigger'] {
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;

      &:hover {
        background-color: var(--hover-primary-color);
        border-radius: 6px;
      }

      svg {
        fill: rgb(0, 0, 0, 0.5);
      }
    }
  }
}

.observer {
  height: 1px;
  background: transparent;
}