.breadcrumbContainer {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      &:not(:last-child)::after {
        display: inline-block;
        margin: 0 .25rem;
        content: "/";
      }

      font-size: 1.125rem;

      a {
        font-weight: 400;
        padding: 10px 10px;
        color: #838383;

        &:hover {
          background-color: #eeeeee;
          border-radius: 4px;
        }
      }

      span {
        padding: 10px 10px;
        font-weight: 500;
      }
    }
  }
}