.toolbar {
  height: 44px;
  padding: 18px;
  display: flex;
  justify-content: space-between;

  &_logo {
    cursor: pointer;
    height: 44px;
    width: 44px;
  }

  &_profile {
    .profile {
      display: flex;

      .dropdown {
        [class*='trigger'] {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          cursor: pointer;
          line-height: 1.2;

          &:hover {
            background-color: var(--hover-primary-color);
            border-radius: 6px;
          }

          .trigger_icon {
            background-color: inherit;
            color: var(--dark-color);
            border: 1px solid var(--dark-color);
            width: 20px;
            height: 20px;
            border-radius: 20px;
            font-weight: 500;
          }
        }

        [class*='content'] {
          display: flex;
          flex-direction: column;

          .content_item {
            cursor: pointer;
            text-align: start;
            padding: 8px;
            width: calc(100% - 16px);

            &:hover {
              background-color: var(--hover-primary-color)
            }
          }
        }
      }

      &_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        line-height: 1.2;

        &:hover {
          background-color: var(--hover-primary-color);
          border-radius: 6px;
          stroke: rgba(0, 0, 0, 0.9);
        }

        svg {
          width: 24px;
          height: 24px;
          stroke: var(--dark-color);
        }
      }
    }
  }
}