.modal {
  height: 100%;

  .label {
    font-size: var(--font-size-l);
    font-weight: 500;
    text-align: start;
    margin-left: 20px;
  }

  .linkButton {
    color: var(--helper-color);
    cursor: pointer;
    text-align: center;
    margin: 4px;
  }
}