.container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 12px;

  .description {
    display: flex;
    justify-content: center;

    &_lable {
      font-size: var(--font-size-l);
    }

    &_complexity {

    }
  }
}